.logocolor {
  color: white !important;
}

.matchodds {
  margin-top: -54% !important;
  margin-left: -8% !important;
  padding: 8%;
}



.matchBox {
  margin-left: 51% !important;
    margin-top: 7% !important;
}